pkgbase = aicli
	pkgdesc = Projet to use ai api to generate text, image, etc.
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/LordPax/aicli
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = MIT
	makedepends = go
	source = https://github.com/LordPax/aicli/archive/refs/tags/v0.2.0.tar.gz
	md5sums = 26240a6355828c04e8dd8b2c20528701

pkgname = aicli
